:root {
    --backdark: black;
    --bright: rgb(15, 242, 17);
    --lighttxt: white;
}

a {
    color: white
}


/* Navbar */
.navbar {
    z-index: 10;
    background-color: green;
}

.navbar-brand {
    font-size: 40px;
}

.white {
    color: whitesmoke
}

/* Hero Section  */

.masthead {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    color: green;
}

.profile {
    width: 150px;
    height: 150px;
    margin: 15px;
    /* align-items: center;
    justify-content: center; */
}

/* Skills section */
section.skills {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

section.skills .skills-item {
    max-width: 18rem;
}

section.skills .skills-item img {
    max-width: 10rem;
    box-shadow: 3px 5px 5px 3px black;
}

/* Work Section */

.work {
    background-color: azure;
}

.cardContainer .card-text {
    display: height 400px width 600px;
}

.btn:hover,
.btn:hover .btn {
    box-shadow: inset 0px 0px 8px rgba(15, 242, 7, 1), 0 0 15px rgba(15, 242, 7, 1);
}

.btn {
    background-color: black;
    color: white;
}



/* About Me Section */





/* Contact section */

.contact {
    background-color: green;

}

.contactlink {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.contactlink:hover {
    box-shadow: inset 100px 0 0 0 white;
    color: green;
}